.filters {
  position: sticky;
  top: 0;
  display: flex;
  padding: 70px 0 var(--unit-3);
  justify-content: center;
  background-color: var(--red-dark);
  z-index: 3;
}

.favoriteButton {
  position: absolute;
  right: var(--unit-1);
}
