.links {
  position: fixed;
  bottom: var(--unit-3);
  margin-left: -253px;
  font-size: 15px;
  text-align: end;
  color: var(--color-text-transparent);
}

.links__title {
  color: var(--color-text-semi-transparent);
  margin-top: var(--unit-lg);
  margin-bottom: var(--unit-1);
}

.link-group {
  display: flex;
  justify-content: end;
  gap: var(--unit-2);
  text-transform: lowercase;

  a {
    color: var(--color-text-semi-transparent);
  }
}
