.line-loader-wrap {
  position: absolute;
  top: 0;
  margin: var(--unit-4) var(--unit-lg);
  width: auto;
  left: 0;
  right: 0;
  border-radius: 100px;
  overflow: hidden;
  z-index: 4;
}

.line-loader {
  width: 30%;
  background-color: #000;
  animation: lineLoaderSlide 1s linear alternate infinite;
  position: static;
  border-radius: 100px;
  height: 6px;
}


@keyframes lineLoaderSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
