.button {
  color: var(--color-text);
  text-transform: lowercase;
  height: 42px;
  padding: 0 var(--unit-1);
  font-size: 24px;
  cursor: pointer;

  .hidden {
    visibility: hidden;
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: inset 0px -2px 0 0px var(--white);
  }

  &[data-active='true'] {
    box-shadow: inset 0px -2px 0 0px var(--white);
    z-index: 1;
    text-transform: uppercase;
  }
}
