@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page-frame {
  padding: 10px;
}

.outer {
  display: flex;
  background: #efefef;
  padding: 20px;
  padding-top: 70px;
  border-radius: 10px;
}

.list {
  padding: 2px;
  width: 20%;
}

.li {
  padding: 4px;
}

.img {
  width: 100%;
  border-radius: 8px;
}
