body {
  background: var(--red);
  font-family: var(--font-lacquer);

  @media (min-width: 768px) {
    padding: 0 240px;
  }
}

.page-container {
  margin: var(--unit-lg) auto 0;
  max-width: 100rem;
}

.page-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--red-dark);
  padding: calc(var(--unit-lg) - var(--unit-1));
  padding-top: 0;
  min-height: calc(100vh - var(--unit-lg));
}

.portrait-image {
  color: transparent;
  position: fixed;
  bottom: 0;
  right: -100px;
  z-index: 2;
  pointer-events: none;
  max-width: 40%;
}
